<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>948064140185-lkcia8i0ghb0icngo9i4lsn533crubsd.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.948064140185-lkcia8i0ghb0icngo9i4lsn533crubsd</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>948064140185-15cs6pqo5nd8ijafn6eink0ofp5ba2l8.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyCdrpARwkpFSZoMlgcGEXifS3FJvwjz3ew</string>
	<key>GCM_SENDER_ID</key>
	<string>948064140185</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>org.reactjs.native.example.PublicGalleryBcround</string>
	<key>PROJECT_ID</key>
	<string>public-gallery-c7448</string>
	<key>STORAGE_BUCKET</key>
	<string>public-gallery-c7448.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false/>
	<key>IS_ANALYTICS_ENABLED</key>
	<false/>
	<key>IS_APPINVITE_ENABLED</key>
	<true/>
	<key>IS_GCM_ENABLED</key>
	<true/>
	<key>IS_SIGNIN_ENABLED</key>
	<true/>
	<key>GOOGLE_APP_ID</key>
	<string>1:948064140185:ios:0529e99b6d3651fcb5f108</string>
</dict>
</plist>
